.video-to-mp3-wrapper {
    background-color: #ffffff;
    color: #000000;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .video-to-mp3-main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .video-to-mp3-tool {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .video-to-mp3-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .video-to-mp3-input {
    margin-bottom: 15px;
  }
  
  .video-to-mp3-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .video-to-mp3-button:hover {
    background-color: #444444;
  }
  
  .video-to-mp3-result {
    margin-top: 20px;
  }
  
  .video-to-mp3-download-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: grey;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .video-to-mp3-ad {
    background-color: #e0e0e0;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  .video-to-mp3-ad-top,
  .video-to-mp3-ad-bottom {
    width: 100%;
  }
  
  .video-to-mp3-ad-left,
  .video-to-mp3-ad-right {
    width: 120px;
  }
  